{% load bootstrap3 %} 
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" href="{%static 'favicon/instagram.png'%}" type="img/jpg">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% if title %}
        <title>Instagram Photo - {{ title }}</title>
    {% else %}
        <title>Instagram Photo</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top ">
          <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'photo-home' %}" style=""><img src="/static/favicon/ins.png" type="img/jpg"width="110" height="38"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <!-- <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" style="color: black;" href="{% url 'photo-home' %}"><i class="fa fa-home fa-2x"aria-hidden="true"></i></a>
              </div> -->
              <!-- Adding a search form  -->
              <div class="col-sm-4 col-md-4 navbar-right">
                <form action="{% url 'search_results' %}">
                  <div class="form-group">
                    <input type="text" name="username" class="">
                    <span><input type="submit" value="Search" class="btn-sm"></span>

                  </div>
                </form>
              </div>

              <!-- search form end -->
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" style="color: black;" href="{% url 'photo-home' %}">  <i class="fa fa-home fa-2x"aria-hidden="true"></i></a>

                <a class="nav-item nav-link" href="{% url 'post-create' %}"><i class="fa fa-paper-plane-o fa-1x mt-2 mr-1" aria-hidden="true" style="font-size:30px;color:black;"></i></a>

                <a class="navbar-brand mr-4" href="{% url 'photo-home' %}" style=""><img src="/static/favicon/ic.png" type="img/jpg"width="" height=""></a>

                <!-- <i class="fa fa-paper-plane-o fa-1x mt-2 mr-1 j" aria-hidden="true" style="font-size:30px;color:black;"></i> -->
                <i class="fa fa-heart-o fa-1x mt-2" aria-hidden="true" style="font-size:30px;color:black;"></i>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="rounded-circle" width="30" height="30" src="{{ user.profile.image.url }}">
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-item nav-link" href="{% url 'profile' %}" style="color: black;">Profile</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}" style="color: black;">Logout</a>
                  </div>
                </li>
                {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}" style="color: black;">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}" style="color: black;">Register</a>
                {% endif %}
              </div>
            </div>
          </div>
          
        </nav>
      </header>
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">

            {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
          </div>
          <div class="col-md-4">
            <div class="content-section">
              <img class="rounded-circle" width="55" height="55" src="{{ user.profile.image.url }}">
              <p class='text-muted'>Suggestions for you.
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light">Follow</li>
                  <li class="list-group-item list-group-item-light">Follow</li>
                  <li class="list-group-item list-group-item-light">Follow</li>
                  <li class="list-group-item list-group-item-light">Follow</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>



